@import 'variables';
@import 'mixins';

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: $default-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: blue;
}


  code {
    font-family: $code-font-family;
  }

  .appBackground {
    background-image: $background;
    background-size: cover;
    min-height: 100vh;
  }

  .screen_max_425 {
    width: 100%;
    @include sm-devices-max {
      @include flex-col-center;
    }
  }

  .screen_max_425_block_width {
    @include sm-devices-max {width: 100%;}
  }

  .screen_min_425 {
    @include sm-devices-min {
      @include flex-row-center;
    }
  }

  .container_min_1200 {
    @include lg-devices-min {
     @include custom_container_900;
    }
  }

  .text-field-class .MuiInputBase-input {
    user-select: text !important;
    cursor: text !important;
  }

.checkbox_style {
  font-size: 1rem;
  color: #555;
  .MuiRadio-root {
    color: $TextFieldLabelColor;
    &.Mui-checked {
      color: #53575b;
    }
  }
}

.relativePosition {
  position:relative;
}

.sidePanelPosition {
    background-color: white;
    border-radius: $border-radius-base;
    @include screen_size(768px, 1440px) {
      @include position_fixed {
        top: 27%;
        right: 2%;
      }
    }
  @include screen_size(1450px,1900px) {
    @include position_fixed {
      top: 27%;
      right: 13%;
    }
  }
  @include devices-1900_min {
    @include position_fixed {
      top: 27%;
      right: 23%;
    }
  }
}

.absolute_right_corner_pos {
  @include position_absolute {
    top: 4%;
    right: 1%;
  }
}

.absolute_right_bottom_corner {
  @include position_absolute {
    top: 60%;
    right: 3%;
  }
}


.toolBlockPosition {
  position:absolute;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

.width-50 {
  width: 50%;
}

.margin-right-70 {
  margin-right:70px;
}
.flex-grow-08 {
  flex-grow: 0.8;
}
.flex-grow-07 {
    flex-grow: 0.7;
}
.border-radius-8 {
  border-radius: $border-radius-base;
}

.flex-grow-06 {
  flex-grow: 0.6;
}

.color_grey {
  color: $TextFieldLabelColor;
}

.text-field-underline-none {
  .MuiInput-underline:before {
    border-bottom: none;
  }
  .MuiInput-underline:after {
    border-bottom: none;
  }
  &:hover:not(.Mui-disabled) .MuiInput-underline:before {
    border-bottom: none;
  }
}

.text-field-underline-dashed {
  .MuiInput-underline:before {
    border-bottom: 1px dashed lightgray;
  }
  .MuiInput-underline:after {
    border-bottom: 1px dashed lightgray;
  }
  &:hover:not(.Mui-disabled) .MuiInput-underline:before {
    border-bottom: 1px dashed lightgray;
  }
}

.text-field-underline-solid {
  .MuiInput-underline:before {
    border-bottom: 1px solid lightgray;
  }
  .MuiInput-underline:after {
    border-bottom: 1px solid lightgray;
  }
  &:hover:not(.Mui-disabled) .MuiInput-underline:before {
    border-bottom: 1px solid lightgray;
  }
}

//checkbox стили

.block_size_max_20_20 {
  max-width: 20px;
  max-height: 20px;
}

//стили для таблицы

.table-row {
  &:nth-of-type(odd) {
    background-color: #f5f5f5;
  }

  &:nth-of-type(even) {
    background-color: white;
  }

  transition: background-color 0.3s ease;

  &:hover {
    background-color: #e0e0e0;
  }
}

//markDown стили

.custom-markdown {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.1s ease, transform 0.3s ease;

  &.show {
    opacity: 1;
    transform: translateY(0);
  }
}

// стили для фона шаблона

.card-background {
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 150px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

// стили для сообщения сохранился ли шаблон
.message {
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;

  &.success {
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
  }

  &.error {
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #ebccd1;
  }

  &.hidden {
    display: none;
  }
}
// стили для надвания темы описания заполненного шаблона
.label {
  color: lightgray;
  font-size: 0.8rem;
  display: block;
  margin-bottom: 0.25rem;
}

.separator {
  width: 80%;
  height: 1px;
  background-color: lightgray;
  margin: 0.5rem 0;
}

.font_size_1rem{
  font-size: 1rem;
}

.font_size_08rem {
  font-size: 0.8rem;
}

.darkGrey_color {
  color: #464646;
}

//стили для шапки

.header {
  background-color: $light-bg !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &.dark-mode {
    background-color: $dark-bg;
    color: $dark-text;

    .search-bar {
      background-color: $search-bg-dark;
    }

    .button {
      background-color: $button-bg-dark;
      color: $dark-text;

      &:hover {
        background-color: $button-hover-dark;
      }
    }
  }

  .search-bar {
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 4px;
    margin-right: 16px;
  }

  .button {
    font-weight: bold;
    border-radius: 4px;
    padding: 8px 16px;
    margin-left: 8px;

    &.light {
      background-color: $button-bg-light;
      color: $light-text;

      &:hover {
        background-color: $button-hover-light;
      }
    }
  }
}