@import 'variables';
@import 'mixins';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $default-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: blue;

  code {
    font-family: $code-font-family;
  }



  .appBackground {
    background-image: $background;
  }

  .screen_max_425 {
    width: 100%;
    @include sm-devices-max {
      @include flex-col-center;
    }
  }

  .screen_max_425_block_width {
    @include sm-devices-max {width: 100%;}
  }

  .screen_min_425 {
    @include sm-devices-min {
      @include flex-row-center;
    }
  }

  .container_min_1200 {
    @include lg-devices-min {
     @include custom_container_900;
    }
  }

  .text-field-class .MuiInputBase-input {
    user-select: text !important;  // Разрешаем выделение текста
    cursor: text !important;       // Устанавливаем курсор "I-beam"
  }

}