@mixin flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

@mixin custom_container_900 {
  margin: 0 auto;
  width: 900px;
}

@mixin xs-devices-max {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin sm-devices-max {
  @media (max-width: 425px) {
    @content;
  }
}
@mixin sm-devices-min {
  @media (min-width: 425px) {
    @content;
  }
}

@mixin md-devices-max {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin md-devices-min {
  @media (min-width: 767px) {
    @content;
  }
}

@mixin lg-devices-max {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin lg-devices-min {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin xl-devices-min {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin xxl-devices-min {
  @media (min-width: 1400px) {
    @content;
  }
}

@mixin xxl-devices-max {
  @media (max-width: 1400px) {
    @content;
  }
}

@mixin devices-1900_min {
  @media (min-width: 1900px) {
    @content;
  }
}

@mixin screen_size($min, $max) {
  @media (min-width: #{$min}) and (max-width: #{$max}) {
    @content;
  }
}

@mixin block-width-50 {
  position:absolute;
  top: 20px;
  right: 20px;
}

//стили боковой панели

@mixin position_fixed {
  position: fixed;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 5px;
  @content;
}

@mixin position_absolute {
  position: absolute;
  padding: 5px;
  @content;
}
