$default-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

$code-font-family: Roboto, Helvetica, Arial, sans-serif, source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace, body1;

$background: url('https://oir.mobi/uploads/posts/2021-03/1616426621_12-p-belo-goluboi-fon-16.jpg');

$TextFieldLabelColor: #323333;

$border-radius-base: 8px;

$color-light-gray: #4f4f4f;
$color-white-blue: #A0AEC0;

$light-bg: #ffffff;
$dark-bg: #4A5568;

$light-text: #1A202C;
$dark-text: #E2E8F0;

$search-bg-light: #FFFFFF;
$search-bg-dark: #E2E8F0;

$button-bg-light: #a0aca4;
$button-bg-dark: #718096;

$button2-bg-light: #c2da99;
$button2-bg-dark: #637694;

$button-hover-light: #6a7f4c;
$button-hover-dark: #3c4758;

$box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

$border-1px: 1px solid $color-white-blue;