$default-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

$code-font-family: Roboto, Helvetica, Arial, sans-serif, source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace, body1;

$background: url('https://oir.mobi/uploads/posts/2021-03/1616426621_12-p-belo-goluboi-fon-16.jpg');

$TextFieldLabelColor: #1b1c1c;

$border-radius-base: 8px;